.table{
    margin-top: 35px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
}

table{
    width: 100%;
}
th{
    border-bottom: 1px solid black;
}
td{
    text-align: center;
    border-right: 1px solid black;
}
.actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: teal;
    cursor: pointer;
}